/* ==== FONT GOOGLE ==== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap");

/* ==== DIRECTIVES TAILWIND ==== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== REUSABLE CSS CLASS ==== */
.section {
  @apply pt-24 pb-12 lg:py-20;
}
.section-title {
  @apply font-title font-bold text-primary leading-title mb-2 md:text-[30px] md:mb-3;
}
.section-text {
  @apply text-grey leading-text lg:text-[16px];
}
.section-button {
  @apply flex justify-center py-4 px-6 bg-red rounded-[.5rem] text-white font-medium lg:text-[16px];
}

/* ==== HEADER MENU AT MOBILE VERSION ==== */
@media screen and (max-width: 768px) {
  .header__menu {
    @apply fixed w-[80%] h-full top-0 -right-full grid grid-rows-[repeat(2,_max-content)] gap-y-8 py-8 bg-white shadow-[-1px_0_8px_rgba(52,61,72,.25)] transition-all duration-500;
  }
}
.show-menu {
  @apply right-0;
}

/* ==== HEADER ACTIVE LINK ==== */
.header__link.active-link {
  @apply relative bg-[#f8f8f8] md:bg-transparent md:font-bold md:text-red;
}
.header__link.active-link::before {
  @apply absolute content-[""] w-[2px] h-full top-0 left-0 bg-red md:hidden;
}

/* ==== STICKY HEADER ==== */
.header.sticky-header {
  @apply bg-white h-20 shadow-[0_1px_8px_rgba(52,61,72,.25)] lg:h-24;
}

/* ==== SCROLLUP HEADER ==== */
.scrollup.scroll-active {
  @apply bottom-10;
}

/* ==== ACCORDION FEATURES SECTION ==== */
.accordion-open.features__accordion-item {
  box-shadow: 0px 9px 30px rgba(69, 88, 157, 0.08);
}
.accordion-open .features__accordion-header,
.accordion-open .features__accordion-content {
  @apply bg-white;
}
.accordion-open .features__accordion-header {
  border-radius: 10px 10px 0 0;
}
.accordion-open .features__accordion-content {
  border-radius: 0 0 10px 10px;
}
.accordion-open .features__accordion-plus {
  transform: rotate(45deg);
}
